/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Quantico&family=Titillium+Web&display=swap');


body {
    background-color: white; 
    font-family: 'Titillium Web', sans-serif;
}
canvas { 
    display: block; 
    border: 5px solid black;
    background-color: lightgray; 
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header {
    margin: 20px;
    font-weight: bold;
    font-family: 'Quantico', sans-serif;
    /*font-size: 2.2rem;*/
    text-align: center;
}
#gameInitialization {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 20px;
    font-family: 'Titillium Web', sans-serif;
}
#presets {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#presets > div {
  margin-bottom: 10px;
}
#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: fit-content;
    display: none;
}
#overviewCanvas {
    display: none;
    margin-top: 10px;
}
.label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#healthFlexBox {
    display: flex;
    align-items: center;
    gap: 10px;
}
#healthBarContainer {
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border: 2px solid black;
    margin-bottom: 10px;
    position: relative;
}
#healthBar {
    width: 20px;
    height: 20px;
    background-color: purple;
}
#instructions {
    margin: 20px;
    text-align: center;
    background-color: azure;
    padding: 20px 40px;
    border: 2px dashed blueviolet;
    font-family: 'PT Serif', serif;
}
#version {
    margin: 20px;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    cursor: pointer;
}
button:hover {
    background-color: #e6e6e6;
}
